.container-fluid {
  min-height: 100%;
    div {
      height: 100%;
      margin-top:12rem;
      align-items: center;
      justify-content: center;
      button {
        padding: 1.5em;
        margin: 0 .5em;
      }
    }
  }
h1 {
  font-size: 3em;
}
